{% extends 'main/layout.html' %}

{% block title %}Хочу играть{% endblock %}


{% block content %}
    <div class="text-white">
        <div style="text-align: center;">
            <h1>Хочу играть</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.name }}<br>
                {{ form.vol }}<br>
                {{ form.non }}<br>
                <span>{{ error }}</span>
                <button class="btn btn-primary" type="submit">Хочу выпить</button>
            </form>
        </div>
    </div>

{% endblock %}